@font-face {
  font-family: 'ax-logo';
  src:  url('fonts/ax-logo.eot?2suz7y');
  src:  url('fonts/ax-logo.eot?2suz7y#iefix') format('embedded-opentype'),
    url('fonts/ax-logo.ttf?2suz7y') format('truetype'),
    url('fonts/ax-logo.woff?2suz7y') format('woff'),
    url('fonts/ax-logo.svg?2suz7y#ax-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ax-"], [class*=" ax-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ax-logo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-Axpos:before {
  content: "\e900";
}
.ax-Axpre:before {
  content: "\e901";
}
